# Ignore everything but .gitkeep inside apps
apps/**/*
!apps/.gitkeep

# Ignore Docker configuration overrides
docker-compose.override.yml
docker/server/override/**/*
!docker/server/override/.gitkeep

# Editor configuration
.idea
